<div class='list-title'>About</div>
<div class='about-content'>
    <div class='about-text'>
        Named after the fun phrase that a family member once used to describe my music tastes, <strong>Bricks Clapping In The Dark</strong> is a blog for recommending and writing about music with a focus on overlooked and underrated albums both new and new to me.
        <br />
        <br />
        This site was created in response to the prevailing negativity in the hype-and-destroy cycle of the music criticism industry these days and as such everything presented here is a glowing recommendation. However, it goes without saying that not all albums are created equal, so if your listening time is limited you should head straight for those must-haves marked with this stamp of approval:
    </div>
    <div class='recommended-wrapper'>
        <a [routerLink]='["/fantasy"]'>
            <recommended-stamp [clickable]='true'></recommended-stamp>
        </a>
    </div>
    <br />
    Feedback and submissions are welcome at:
    <br />
    <strong>bricksclappinginthedark at gmail dot com</strong>
    <br />
    <br />
    <span class='copyright'>All Content © Bricks Clapping In The Dark {{ year }}</span>
</div>