<div class='list-title'>About</div>
<div class='about-content'>
    <div class='about-text'>
        Named for the fun phrase that a family member once used to describe my music tastes, <strong>Bricks Clapping In The Dark</strong> is a blog for recommending music with a focus on overlooked and underrated albums both new and new to me. Each album description is accompanied by all the information you'll need to tell if it'll be right for you, including my preference between headphones and speakers for the optimal listening experience, while related artists and posts will help you figure out where to head next. Once you've had your fill, feel free to join the discussion in the comments section!
        <br />
        <br />
        Since this site was created in response to the prevailing negativity in the hype-and-destroy mentality of most major music publications these days, everything reviewed or listed here is a glowing recommendation worthy of a spin. However, it goes without saying that not all albums are created equal, so if your listening time is limited you should head straight for those must-haves marked with this stamp of approval:
    </div>
    <div class='recommended-wrapper'>
        <a [routerLink]='["/fantasy"]'>
            <recommended-stamp [clickable]='true'></recommended-stamp>
        </a>
    </div>
    <br />
    Feedback and submissions are welcome at:
    <br />
    <strong>bricksclappinginthedark at gmail dot com</strong>
    <br />
    <br />
    <span class='copyright'>All Content © Bricks Clapping In The Dark {{ year }}</span>
</div>