@import '../../variables.scss';

.about-content {
    width: $app-width / 2 - $post-padding * 2;
    text-align: center;
    background-color: $post-color;
    padding: $page-padding;
    border-radius: $border-radius;
    margin: $post-padding / 2 auto 0px auto;
    box-shadow: $shadow $shadow-color;

    .about-text {
        text-align: justify;
    }

    .recommended-wrapper {
        padding-top: $post-padding;
        padding-bottom: $post-padding / 2;
    }

    .copyright {
        font-size: .8em;
    }
}