<div class='list-title'>About</div>
<div class='about-content'>
    <div class='about-text'>
        Named after the fun phrase that a family member once used to describe the kind of music I listen to, <strong>Bricks Clapping In The Dark</strong> is a blog for recommending and writing about music with a focus on overlooked and underrated albums both old and new.
        <br />
        <br />
        This site was created in response to the prevailing negativity of the hype-and-destroy cycle in the music criticism industry these days and as such everything presented here is a glowing recommendation. However, it goes without saying that not all albums are created equal, so those that have that extra special something are marked with this stamp of approval for emphasis:
    </div>
    <div class='recommended-wrapper'>
        <a [routerLink]='["/fantasy"]'>
            <recommended-stamp [clickable]='true'></recommended-stamp>
        </a>
    </div>
    <br />
    Feedback or submissions are welcome at:
    <br />
    <strong>bricksclappinginthedark at gmail dot com</strong>
    <br />
    <br />
    <span class='copyright'>All Content © Bricks Clapping In The Dark {{ year }}</span>
</div>