@import '../../variables.scss';

.album-gallery-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    .album-gallery {
        padding: $page-padding;
        width: $app-width;
        margin: auto;
        overflow-y: scroll;

        .gallery-close {
            text-align: center;
            padding-bottom: $post-padding;

            i {
                font-size: 36px;
            }
        }

        .post-link {
            padding-top: 2 * $post-padding;
        }
    }
}