@import '../../variables.scss';
@import '../../mixins.scss';

.image-grid {
    .grid-image {
        display: block;
        float: left;
        position: relative;
        
        &.top-left {
            border-top-left-radius: $border-radius;
        }

        &.top-right {
            border-top-right-radius: $border-radius;
        }

        &.clickable {
            cursor: pointer;
            transition: $transition;

            &:hover {
                z-index: 2;
                box-shadow: $shadow $background-shadow-color;
                transition: $transition;
                @include transform(scale(1.03, 1.03));
            }
        }
    }
}