<div class='post-detail'>
    <div class='post-image-wrapper'>
        <image-grid *ngIf='post || album'
            [clickable]='true'
            [albums]='post ? post.albums : [album]'
            (albumSelected)='openGallery($event)'></image-grid>
    </div>
    <div class='post-content'>
        <div *ngIf='album'>
            <div class='post-title'>
                <artist-list [artists]='album.artists' [active]='true'></artist-list>
                -
                <span>{{ album.title }}</span>
            </div>
            <div class='post-subtitle'>
                <span *ngIf='album.label'>
                    <a [routerLink]='["/label", album.label]'>{{ album.label }}</a>,
                </span>
                <a [routerLink]='["/year", album.year]'>{{ album.year }}</a>
            </div>
            <div *ngIf='album.artists.length > 4' class='post-metadata'>
                <strong>Contributors: </strong>
                <span *ngFor='let artist of album.artists, let i = index'>
                    <artist-link [artist]='album.artists[i]'
                        [active]='true'></artist-link><span
                        *ngIf='i < album.artists.length - 1'>, </span>
                </span>
            </div>
            <div class='post-metadata'>
                <strong>Genres: </strong>
                <span *ngFor='let genre of album.genres, let i = index'>
                    <a [routerLink]='["/genre", genre]'>{{ genre }}</a><span
                        *ngIf='i < album.genres.length - 1'>, </span>
                </span>
            </div>
            <div class='post-metadata'>
                <strong>RIYL: </strong>
                <span *ngFor='let artist of album.similarArtists, let i = index'>
                    <artist-link [artist]='album.similarArtists[i]'
                        [active]='true'></artist-link><span
                        *ngIf='i < album.similarArtists.length - 1'>, </span>
                </span>
            </div>
            <div class='album-divider' *ngIf='album'>
                <a *ngIf='album.headphones'
                    [routerLink]='["/headphones"]'
                    title='Use Headphones'>
                    <i class="material-icons">headset</i>
                </a>
                <a *ngIf='!album.headphones'
                    [routerLink]='["/speakers"]'
                    title='Use Speakers'>
                    <i class="material-icons">speaker</i>
                </a>
            </div>
            <div *ngIf='album.recommended' class='recommended'>
                <a [routerLink]='["/fantasy"]'>
                    <recommended-stamp [clickable]='true'></recommended-stamp>
                </a>
            </div>
            <div class='album-blurb' [innerHTML]='album.review | blurb'></div>
            <div *ngIf='album.fullPostSlug' class='full-review'>
                <a [routerLink]='["/post", album.fullPostSlug]'>See Full Review</a>
            </div>
        </div>
        <div *ngIf='post && !album'>
            <div class='post-title'>{{ post.title }}</div>
            <div class='list-blurb' [innerHTML]='post.blurb | blurb'></div>
            <div class='list-divider'>
                <a [routerLink]='["/lists"]' title='Lists'>
                    <i class="material-icons">apps</i>
                </a>
            </div>
            <div class='list-albums'>
                <div *ngFor='let listAlbum of post.albums | reverse' class='list-album'>
                    <a (click)='openGallery(listAlbum)'>
                        <span>{{ post.albums.indexOf(listAlbum) + 1 }}.</span>
                        <artist-list [artists]='listAlbum.artists'></artist-list>
                        -
                        <span>{{ listAlbum.title }}</span>
                    </a>
                </div>
            </div>
            <album-gallery [albums]='post.albums' [(index)]='galleryIndex'
                [(visible)]='galleryVisible'></album-gallery>
        </div>
        <div *ngIf='post' class='post-date'>{{ post.date | date:'longDate' }}</div>
    </div>
</div>