@import '../../variables.scss';

.post-detail {
    color: $font-color;
    background-color: $post-color;
    width: $app-width / 2;
    border-radius: $border-radius;
    margin: 0px auto $post-padding / 2 auto;
    box-shadow: $shadow $shadow-color;

    .post-image-wrapper {
        min-height: $app-width / 2;
    }

    .post-content {
        padding: 30px;
        text-align: center;
        clear: both;

        .post-title {
            font-size: 1.2em;
            font-weight: bold;
            padding-bottom: $post-padding / 4;
        }

        .post-subtitle {
            font-style: italic;
            font-size: .9em;
            padding-bottom: $post-padding;
        }

        .post-metadata {
            padding-bottom: $post-padding / 2;
        }

        .album-divider {
            padding: $post-padding / 2 0px;

            i {
                font-size: 36px;
            }
        }

        .recommended {
            padding-bottom: $post-padding;
        }

        .album-blurb {
            padding-top: $post-padding / 2;
            text-align: justify;
        }

        .embed-frame {
            border: 0px;
            width: 100%;
            margin-top: $post-padding;

            &.bandcamp {
                // This is the default bandcamp embed height for the medium size
                height: 120px;
            }

            &.youtube {
                $desired-width: $app-width / 2 - 2 * $post-padding;

                // This ratio comes from the youtube embed default size
                // and leaves enough room for all the controls
                height: 315 / 560 * $desired-width;
            }
        }

        .full-review {
            font-weight: bold;
            padding-top: $post-padding;
        }

        .list-blurb {
            padding-top: $post-padding;
            text-align: justify;
        }

        .list-divider {
            padding-top: $post-padding;

            i {
                font-size: 36px;
            }
        }

        .list-albums {
            padding-top: $post-padding / 2;
            font-weight: bold;
            font-size: .9em;

            .list-album {
                padding-top: $post-padding / 2;
            }
        }

        .post-date {
            font-style: italic;
            font-size: .9em;
            text-align: right;
            padding-top: $post-padding;
        }
    }
}