<div class='comment-detail' *ngIf='comment'>
    <div class='comment-name'>
        <span *ngIf='!editing'>{{ comment.name }} says:</span>
        <input type='text' placeholder='Name' *ngIf='editing' [(ngModel)]='comment.name' />
    </div>
    <div class='comment-text'>
        <div *ngIf='!editing'>{{ comment.text }}</div>
        <textarea placeholder='Enter a comment' *ngIf='editing'
            [(ngModel)]='comment.text' (keydown.enter)='saveComment()'>
        </textarea>
    </div>
    <div class='comment-date' *ngIf='!editing'>{{ comment.date | date:'longDate' }}</div>
    <div class='comment-buttons'>
        <a *ngIf='editing' (click)='saveComment()' title='Add Comment'>
            <i class="material-icons">playlist_add</i>
        </a>
        <a *ngIf='canRemove()' (click)='removeComment()' title='Remove'>
            <i class="material-icons">delete</i>
        </a>
    </div>
</div>